Source: batch_fasta-perl
Section: perl
Priority: optional
Build-Depends: perl (>= 5.7)
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3

Package: batch_fasta-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Convert a large fasta file to directories of batch files.
 This is a simple program to batch a FASTA formatted ascii text
 file into smaller chunks with a logical naming scheme.
 Output will either be smaller FASTA files in subdirectories,
 or zip archives containing those smaller FASTA files.
