#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_usrlocal:
	install -D -m 755 scripts/gpfscrfs.sh debian/$(PACKAGE)/usr/sbin/gpfscrfs
	install -D -m 755 scripts/gpfsmapper.pl debian/$(PACKAGE)/usr/sbin/gpfsmapper
