Source: gpfs-tools
Section: utils
Priority: optional
Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: perl, libtest-exception-perl, libclass-mop-perl,
  libtest-output-perl, libexception-class-perl, bash
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/gpfsmapper/

Package: gpfs-tools
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libexception-class-perl, bash
Description: Produce a mapping of SCSI LUN to friendly name.
 This script reads 'multipath -l' output, 'mmlscluster' output, and uses a
 configuration file to produce the multipaths section of the multipath.conf
 file, applying the friendly name. It also can output a disk list for use with
 a GPFS cluster.
 .
 This description was automagically extracted from the module by dh-make-perl.
