Source: jiraclient
Section: devel
Priority: extra
Build-Depends: debhelper (>= 7)
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3

Package: jiraclient
Architecture: all
Depends: ${shlibs:Depends}, python, python-restkit (>= 4.0), python-yaml, python-socketpool
Description: A command line client for Jira.
 Jiraclient is a command line utility for Atlassian's Jira Issue Tracker.  It
 leverages the Jira 5.x REST API It allows command line access to a number of
 Jira tasks like issue creation and creation of many issues via YAML templates.
