#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use v4 compatability mode, so ldconfig gets added to maint scripts.
#export DH_COMPAT=7

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

#binary-arch: build

#override_dh_install:
#	install -D -m 755 bin/jiraclient debian/$(PACKAGE)/usr/bin/jiraclient
#	install -D -m 644 src/jiraclient.py debian/$(PACKAGE)/usr/share/pyshared/jiraclient/jiraclient.py

