#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use v4 compatability mode, so ldconfig gets added to maint scripts.
#export DH_COMPAT=7

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

binary-arch: build

override_dh_install:
	find . -maxdepth 1 -mindepth 1 -not -name debian -print0 | \
		xargs -0 -r -i cp -a {} debian/$(PACKAGE)
	install -D -m 755 src/jiraclient.py debian/$(PACKAGE)/usr/bin/jiraclient

