Source: libdiskusage-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 6), libc6-dev-amd64, sqlite3
Build-Depends-Indep: perl,
  libtest-exception-perl, libclass-mop-perl,
  liberror-perl, libtest-output-perl, libnet-snmp-perl,
  libcgi-application-perl,
  libdbi-perl, libfile-find-rule-perl, libexception-class-perl,
  libdate-manip-perl, libcgi-application-plugins-perl,
  libdbd-sqlite3-perl
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/DiskUsage/

Package: libdiskusage-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends},
  libnet-snmp-perl,
  libcgi-application-perl,
  libdbi-perl, libfile-find-rule-perl, libexception-class-perl,
  libdate-manip-perl, libcgi-application-plugins-perl,
  libdbd-sqlite3-perl
Description: Tools to gather GC disk consumption data.
 DiskUsage gathers disk usage information.
 .
